.s3-tab-base {
    padding-left: 0;
    display: "flex";
    justify-content: "center";
    flex-direction: "row";
    transition: 1s all ease-in-out;
}

.s3-tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    &.active {
        color: rgb(98, 0, 238);
        background-color: rgba(98, 0, 238, 0.1);
        border-bottom: 1px solid rgb(98, 0, 238);
    }
    &:hover {
        background-color: rgba(98, 0, 238, 0.1);
    }
}