$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.s3-input-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.s3-input-field {
    direction: rtl;
    font-family: inherit;
    width: 100%;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 10px;
    border-radius: 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    transition: border-radius 0.2s, border-color 0.2s;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown~.s3-input-label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    &.outlined {
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.s3-input-label {
    top: 8px;
    position: absolute;
    right: -19px;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: $gray;
    background: #fff;
    padding: 0 4px;
}

.s3-input-field.outlined:focus {
    ~.s3-input-label {
        position: absolute;
        top: 8px;
        right: -8px;
        display: block;
        transition: 0.2s;
        font-size: 0.8rem;
        color: $primary;
        font-weight: 100;
        background: #fff;
        padding: 0 2px;
    }
    padding-bottom: 7px;
    font-weight: 700;
    border: 2px solid $primary;
    border-radius: 5px;
}

.s3-input-field:focus {
    ~.s3-input-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

.s3-input-field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.eye {
    top: 30px;
    left: 8px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border: solid 1px transparent;
    border-radius: 75% 15%;
    position: absolute;
    transform: rotate(45deg);
    background: rgba(0, 0, 0, .42)
}

.eye:before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border: solid 1px #fff;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background: rgba(0, 0, 0, .12);
}