@import "../theme/theme";
@import "../components/kit/Button/button";
@import "../components/kit/Card/card";
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.label {
    margin: 0;
    margin-bottom: 16px !important;
}